@model SuperheroProject.Models.SuperherosList
@{
    ViewBag.Title = "SuperheroList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.name</h2>
<h2>@Model.alterEgo</h2>
<h2>@Model.primaryAbility</h2>
<h2>@Model.secondaryAbility</h2>
<h2>@Model.catchphrase</h2>

